.content {
  padding: 20px;
}

.highlight {
  background-color: var(--highlight);
}

.content h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.options {
  margin-bottom: 20px;
}

.options input {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  max-width: 300px;
}

.output {
  width: 100%;
  overflow-x: auto; /* Ensure horizontal scrolling if content overflows */
  padding: 20px; /* Add some padding for better appearance */
  box-sizing: border-box; /* Include padding in the element's total width and height */
}

.table {
  display: flex;
  flex-direction: column;
}

.header {
  display: none;
}

.body {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--background-light);
  margin-bottom: 10px;
  padding: 10px;
}

.cell {
  margin-bottom: 10px;
}


@media (min-width: 800px) {
  .table {
    display: table;
  }

  .header {
    display: table-header-group;
  }

  .body {
    display: table-row-group;
  }

  .row {
    display: table-row;
    border: none;
    margin-bottom: 0;
    padding: 0;
  }

  .cell {
    display: table-cell;
    margin-bottom: 0;
    padding: 10px;
  }
}