:root {
  --background: #ffffff;
  --background-light: #9b9b9b;
  --foreground: #171717;
  --button: #b6b6b6;
  --highlight: #6acc4c6c;
}
@font-face {
  font-family: 'Megrim';
  src: url('/fonts/Megrim-Regular.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AfacadFlux';
  src: url('/fonts/AfacadFlux-VariableFont_slnt,wght.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --background-light: #3f3f3f;
    --foreground: #ededed;
    --button: #3a3a3a;
    --highlight: #4d8b3a88;

  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

html,
body {
  max-width: 100vw;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'AfacadFlux', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


h1 {
  font-size: 2.5rem;
  margin-top: 20px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: var(--button);
  border: 1px solid var(--foreground);
  border-radius: 4px;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  border: 1px solid var(--foreground);
  border-radius: 4px;
  background-color: var(--foreground);
  color: var(--background)
}

textarea {
  border: 1px solid var(--foreground);
  border-radius: 4px;
  background-color: var(--foreground);
  color: var(--background);
  white-space: pre-wrap;
  word-break: break-all;
  font-family: 'Courier New', Courier, monospace;
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
}