/* ListConverter.module.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  padding: 20px;
}

.textarea {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.options {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.button {
  padding: 10px 20px;
  margin-bottom: 20px;
}

.output {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.codeOutput {
  white-space: pre-wrap;
  word-break: break-all;
  font-family: 'Courier New', Courier, monospace;
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
}